################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

!packages.config
push.cmd
*.config
/TestClient/bin
/TestClient/obj
/HassBotUtils/bin
/HassBotUtils/obj
/HassBotSvc/bin
/HassBotSvc/obj
/HassBotLib/bin
/HassBotLib/obj
/HassBotDTOs/bin
/HassBotDTOs/obj
/HassBotData/bin
/HassBotData/obj
/packages
/Output
.vs
secret.txt
!HassBotData/packages.config
!HassBotDTOs/packages.config
!HassBotLib/packages.config
!HassBotSvc/packages.config
!HassBotUtils/packages.config
!TestClient/packages.config
